# Build output
build/
.dart_tool/
.packages
.pub-cache/
.pub/
pubspec.lock

# Android
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/app/release/
android/app/debug/
android/app/third_party/
android/app/.cxx/
*.keystore
*.jks
key.properties

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.metadata
